<h1>Welcome to TheRialNews, <%= @user.email %></h1>
<p>
  You have successfully signed up to The Rial News,
  your username is: <%= @user.email %>.<br>
</p>
<p>
  To login to the site, just click

  <%= link_to "http://127.0.0.1:3000" do %>
    <h2>Here</h2>
  <%end%> 
   
</p>
<p>Thanks for joining and have a great day!</p>
