<div id="<%= dom_id new %>">
  <p>
    <strong>Headline:</strong>
    <%= new.headline %>
  </p>

  <p>
    <strong>Drophead:</strong>
    <%= new.drophead %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= new.body %>
  </p>

</div>
