<% content_for :title, "Editing post" %>

<h1 class="display-3 text-center">Editing new <%= @post.headline%></h1>

<section class="d-flex justify-content-center">
  <%= render "form", post: @post %>
</section>
