<p style="color: green"><%= notice %></p>

<% content_for :title, "News" %>

<section id="posts" class="d-flex justify-content-center gap-3 flex-wrap">
  <% @posts.each do |post| %>
  <div class="col-12 col-md-4">
    <%= link_to post_path(post), class: "text-decoration-none text-dark" do %>
      <%= render "single_post", post: post%>
    <%end%>
  </div> 
  <% end %>
</section>
